@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

body {
    font-family: 'Allura', cursive;
    margin: 0;
    padding: 30px;
    text-align: center;
    background-color: #f8efdf;

    background-image: radial-gradient(
        #d8c5a5 1px,
        transparent 3px
    );

    background-size: 25px 25px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.224);
    margin-bottom: 10px;
}

.card {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.388);
}

.info {
    width: 265px;
    margin: 15px auto;
    padding: 7px;
    background: linear-gradient(135deg, #d5c9ae, #e6dac0);
    font-size: 25px;
    border-radius: 30px;
    box-shadow: 0 8px 10px rgba(79, 63, 40, 0.313);
}

p {
    font-size: 14px;
    margin: 8px 0;
}